include ../blocks/head.pug
body
  div.wrapper-color
    include ../blocks/header-error.pug
    main
      h1.visually-hidden Ошибка 404
      section.error
        h2.error__title.title.title--big Похоже ошиблись адресом
        a.error__link.text.text--big Вернуться на главную
    include ../blocks/footer.pug
