extend ../blocks/layout-admin.pug
block main
  main
    section.modal.modal--flex
      .popup.popup--new-publication.popup--flex
        .new-publication
          form(action="/articles/add" method="post" enctype="multipart/form-data")
            .new-publication__header
              h1 Новая публикация
              .new-publication__date-form
                h3 Дата публикации
                  .new-publication__date-block
                    input(type="text" name="createDate" id="new-publication-date" value=new Date() placeholder=new Date())
              button.new-publication__button.button.button--colored(type="submit") Опубликовать
            button.popup__button.button.button--popup-close(type="button" aria-label="Закрыть окно") Закрыть окно
            .new-publication__form.form
              .form__wrapper.form__wrapper--intro
                .form__field
                  label
                    input(type="text" placeholder="Заголовок" name="title" id="title-article" required="")
                a.new-publication__form-link.button.button--transparent(href="#") Добавить категорию
                .form__wrapper.form__wrapper--text
                  .form__field.form__field--publication-text
                    label
                      textarea(rows="1" placeholder="Анонс публикации" name="announce" id="announce-article")
                  .form__field.form__field--publication-text
                      label
                        textarea(rows="1" placeholder="Полный текст публикации" name="fullText" id="fullText-article")
      .modal__overlay
