mixin theme-list(list)
  section.main-page__theme-list
    h2.visually-hidden Список тем
    ul.themes
      each theme in list
        li.themes__item
          a(href="#").themes__item-link #{theme.name}
            sup #{theme.count}
